{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1 id="createAccount"> Log In </h1>
    </div>
    <div class="row"></div>
    <form method="post">
    {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p id="createAccount" class="text-danger">{{ error }}</p>
        {% endfor %}
        {% for item in form %}
            {{ item.label_tag }}{{ item }}
        {% endfor %}
    <div class="form-group">
        <hr>
            <button type="submit" class="btn btn-warning"> Log In!</button>
    </div>
    </form>
    <div class="row">
        <a id="createAccount" href="{% url 'signup' %}"> create new account</a>
    </div>
{% endblock content %}

